* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    padding-left: 4em;
}

.logo_head {
    text-decoration: none;
    color:#004aad;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 100px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .logo {
        margin-right: auto;
    }
}
