
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  border-width:1px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:rgb(46, 46, 83);
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.burger {
  display: none;
}

.heading {
  text-align: center;
  padding: 4px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.gallery div {
  text-align: center;
}

footer {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:rgb(46, 46, 83);
  color: white;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  text-align: center;
}